<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
  <!--main header-->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col 12 mx-auto">
            <div class="row">
                <!--left side div-->
                <div class="col-md-6 col 12 main_header_right">
                    <figure>
                        <img src="images/about1.png" alt="Apoorv" class="img-fluid" title="Apoorv Dubey">
                    </figure>
                </div>
                <div class="col-md-6 col 12 main_header_left">
                  <p>Welcome to Weather App</p>
                  <h1>I am a <span class="text_clr">Learner. </span></h1>  
                  <a href="https://www.linkedin.com/in/apoorv-dubey-8a3a31191/"><button>About me</button></a>
                </div>
                <!--right side div-->
                
            </div>
        </div>
    </div>
   </div>
   {{>footer}}

</body>
</html>